@use "sass:map"
@use '../var'

body
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin: 0
    height: 100vh

    h1, h2, h3, h4, p, li
        font-family: roboto-light

    & > .home
        position: fixed
        top: 0px
        left: 0px
        margin: 0
        text-decoration: none
        background-color: var.$grey
        transform: rotate(180deg)
        border-radius: 50px 0 0 0
        width: 70px
        height: 70px
        color: var.$light-grey
        z-index: 2

        span
            font-size: 2em
            position: absolute
            top: 20px
            left: 25px

        &:hover
            height: 80px

            span
                top: 30px
    
    & > .nav-element
        position: fixed
        top: 0px
        margin: 0
        background-color: var.$light-grey
        border-radius: 0 0 20px 0
        cursor: pointer
        font-family: roboto
        text-decoration: none
        color: black

        &.data
            padding: 10px 20px 10px 20px
            left: 60px
            z-index: 1

        &.tag
            padding: 10px 20px 10px 30px
            left: 120px

        &:hover
            color: var.$light-grey
            background-color: var.$grey
    
    & > h1
        font-size: 4em
        font-family: roboto-thin
        text-align: center

img
    width: 500px

nav
    margin: 30px

    a
        text-decoration: none
        font-family: roboto-thin
        font-size: 2em
        color: black
        padding: 20px

        &:hover
            background-color: var.$light-grey

.index
    display: flex
    flex-wrap: wrap
    justify-content: center
    
    section
        margin: 40px

        h2, p
            font-family: roboto-light
            text-transform: capitalize
        
        p
            cursor: pointer

main
    position: absolute
    top: 50px

    @media (max-width: map.get(var.$bp, 'tablet'))
        padding: 10px

    @media (min-width: map.get(var.$bp, 'tablet'))
        width: 600px

    & > p > span
        cursor: pointer
        color: var.$grey

    
    & > section > p > span
        color: var.$grey

    h2, h3
        text-transform: capitalize

    .tag
        display: flex
        justify-content: center
        margin: 50px
        border-top: var.$grey 1px solid
        padding: 0

        li
            list-style: none
            text-transform: capitalize
            cursor: pointer
            color: var.$grey
            padding: 10px

    .hr
        color: var.$light-grey
        display: flex
        justify-content: center
        
        span
            padding: 4px
            font-size: 1.2em
    
    .tag-page
        display: flex
        flex-wrap: wrap
        justify-content: center

        p
            padding: 10px
            margin: 0
            align-self: center

    .link
        cursor: pointer
        text-transform: capitalize