@font-face {
  font-family: "roboto-heavy";
  src: url("../font/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../font/Roboto-Thin.ttf") format("truetype");
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}
body h1, body h2, body h3, body h4, body p, body li {
  font-family: roboto-light;
}
body > .home {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
  text-decoration: none;
  background-color: #9B9B9B;
  transform: rotate(180deg);
  border-radius: 50px 0 0 0;
  width: 70px;
  height: 70px;
  color: #EBEBEB;
  z-index: 2;
}
body > .home span {
  font-size: 2em;
  position: absolute;
  top: 20px;
  left: 25px;
}
body > .home:hover {
  height: 80px;
}
body > .home:hover span {
  top: 30px;
}
body > .nav-element {
  position: fixed;
  top: 0px;
  margin: 0;
  background-color: #EBEBEB;
  border-radius: 0 0 20px 0;
  cursor: pointer;
  font-family: roboto;
  text-decoration: none;
  color: black;
}
body > .nav-element.data {
  padding: 10px 20px 10px 20px;
  left: 60px;
  z-index: 1;
}
body > .nav-element.tag {
  padding: 10px 20px 10px 30px;
  left: 120px;
}
body > .nav-element:hover {
  color: #EBEBEB;
  background-color: #9B9B9B;
}
body > h1 {
  font-size: 4em;
  font-family: roboto-thin;
  text-align: center;
}

img {
  width: 500px;
}

nav {
  margin: 30px;
}
nav a {
  text-decoration: none;
  font-family: roboto-thin;
  font-size: 2em;
  color: black;
  padding: 20px;
}
nav a:hover {
  background-color: #EBEBEB;
}

.index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.index section {
  margin: 40px;
}
.index section h2, .index section p {
  font-family: roboto-light;
  text-transform: capitalize;
}
.index section p {
  cursor: pointer;
}

main {
  position: absolute;
  top: 50px;
}
@media (max-width: 768px) {
  main {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  main {
    width: 600px;
  }
}
main > p > span {
  cursor: pointer;
  color: #9B9B9B;
}
main > section > p > span {
  color: #9B9B9B;
}
main h2, main h3 {
  text-transform: capitalize;
}
main .tag {
  display: flex;
  justify-content: center;
  margin: 50px;
  border-top: #9B9B9B 1px solid;
  padding: 0;
}
main .tag li {
  list-style: none;
  text-transform: capitalize;
  cursor: pointer;
  color: #9B9B9B;
  padding: 10px;
}
main .hr {
  color: #EBEBEB;
  display: flex;
  justify-content: center;
}
main .hr span {
  padding: 4px;
  font-size: 1.2em;
}
main .tag-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .tag-page p {
  padding: 10px;
  margin: 0;
  align-self: center;
}
main .link {
  cursor: pointer;
  text-transform: capitalize;
}

/*# sourceMappingURL=main.css.map */
